<div ng-controller="characterController">
    <h1>{{ character.Name }}</h1>
    <fieldset>
        <legend>Skills</legend>
        <div ng-repeat="skill in character.Skills">
            {{ skill.Name }} d{{ skill.Dice }} 
            <span ng-repeat="addon in skill.Addons">
                <input type="checkbox" ng-checked="addon.Value" ng-click="updateAddon($event, skill.Id, addon.Key)" /> +{{ addon.Key }}
            </span>
            <div ng-repeat="subskill in skill.SubSkills">
                - {{ subskill.Name }}: {{ skill.Name }} + {{ subskill.Adjustment }}
            </div>
            <hr />
        </div>
    </fieldset>
    <fieldset>
        <legend>Powers</legend>
        <div>
            Hand size {{ character.HandSize }}
            <span ng-repeat="handsize in character.HandSizes">
                <input type="checkbox" value="{{ handsize.Value }}" ng-checked="handsize.Value" /> {{ handsize.Key }}
            </span>
        </div><hr />
        <div ng-if="character.LightArmors > 0 || character.HeavyArmors > 0 || character.Weapons > 0">
            Proficient with
            <span ng-if="character.LightArmors > 0"><input type="checkbox" ng-checked="character.LightArmors > 1" /> Light Armors</span>
            <span ng-if="character.HeavyArmors > 0"><input type="checkbox" ng-checked="character.HeavyArmors > 1" /> Heavy Armors</span>
            <span ng-if="character.Weapons > 0"><input type="checkbox" ng-checked="character.Weapons > 1" /> Weapons</span>
            <hr />
        </div>
        <div ng-repeat="power in character.Powers">
            {{ power.PowersListText }}
            <span ng-repeat="p in power.PowersList">
                <input type="checkbox" ng-checked="p.Value" /> {{ p.Key }}
            </span>
            <hr />
        </div>
    </fieldset>
    <fieldset>
        <legend>Cards (Favorit: {{ character.FavoredCardType }})</legend>
        <div>
            Weapon {{ character.WeaponCards }}
            <span ng-repeat="card in character.WeaponCardsList">
                <input type="checkbox" ng-checked="card.Value" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Spell {{ character.SpellCards }}
            <span ng-repeat="card in character.SpellCardsList">
                <input type="checkbox" ng-checked="card.Value" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Armor {{ character.ArmorCards }}
            <span ng-repeat="card in character.ArmorCardsList">
                <input type="checkbox" ng-checked="card.Value" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Item {{ character.ItemCards }}
            <span ng-repeat="card in character.ItemCardsList">
                <input type="checkbox" ng-checked="card.Value" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Ally {{ character.AllyCards }}
            <span ng-repeat="card in character.AllyCardsList">
                <input type="checkbox" ng-checked="card.Value" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Blessing {{ character.BlessingCards }}
            <span ng-repeat="card in character.BlessingCardsList">
                <input type="checkbox" ng-checked="card.Value" /> +{{ card.Key }}
            </span>
        </div>
    </fieldset>
    <a href="#/{{ user.Id }}/party/{{ party.Id }}/character/{{ character.Id }}">View</a> <a href="#/{{ user.Id }}/party/{{ party.Id }}">Show party</a>
</div>
