<div ng-controller="characterController">
    <h1>{{ character.Name }}</h1>
    <fieldset>
        <legend>Skills</legend>
        <div ng-repeat="skill in character.Skills">
            {{ skill.Name }} d{{ skill.Dice }} 
            <span ng-repeat="addon in skill.Addons">
                <input type="checkbox" ng-checked="addon.Value" ng-click="updateAddon(skill.Id, addon.Key)" /> +{{ addon.Key }}
            </span>
            <div ng-repeat="subskill in skill.SubSkills">
                - {{ subskill.Name }}: {{ skill.Name }} + {{ subskill.Adjustment }}
            </div>
            <hr />
        </div>
    </fieldset>
    <fieldset>
        <legend>Powers</legend>
        <div>
            Hand size {{ character.HandSize }}
            <span ng-repeat="handsize in character.HandSizes">
                <input type="checkbox" value="{{ handsize.Value }}" ng-checked="handsize.Value" ng-click="updateList(character.HandSizes, handsize.Key)" /> {{ handsize.Key }}
            </span>
        </div><hr />
        <div ng-if="character.LightArmors > 0 || character.HeavyArmors > 0 || character.Weapons > 0">
            Proficient with
            <span ng-if="character.LightArmors > 0"><input type="checkbox" ng-checked="character.LightArmors > 1" ng-click="updateLightArmor($event)" /> Light Armors</span>
            <span ng-if="character.HeavyArmors > 0"><input type="checkbox" ng-checked="character.HeavyArmors > 1" ng-click="updateHeavyArmor($event)"/> Heavy Armors</span>
            <span ng-if="character.Weapons > 0"><input type="checkbox" ng-checked="character.Weapons > 1" ng-click="updateWeapon($event)" /> Weapons</span>
            <hr />
        </div>
        <div ng-repeat="power in character.Powers">
            {{ power.PowersListText }}
            <span ng-repeat="p in power.PowersList">
                <input type="checkbox" ng-checked="p.Value" ng-click="updatePower(power.Id, p.Key)" /> {{ p.Key }}
            </span>
            <hr />
        </div>
    </fieldset>
    <fieldset>
        <legend>Cards (Favorit: {{ character.FavoredCardType }})</legend>
        <div>
            Weapon {{ character.WeaponCards }}
            <span ng-repeat="card in character.WeaponCardsList">
                <input type="checkbox" ng-checked="card.Value" ng-click="updateList(character.WeaponCardsList, card.Key)" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Spell {{ character.SpellCards }}
            <span ng-repeat="card in character.SpellCardsList">
                <input type="checkbox" ng-checked="card.Value" ng-click="updateList(character.SpellCardsList, card.Key)" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Armor {{ character.ArmorCards }}
            <span ng-repeat="card in character.ArmorCardsList">
                <input type="checkbox" ng-checked="card.Value" ng-click="updateList(character.ArmorCardsList, card.Key)" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Item {{ character.ItemCards }}
            <span ng-repeat="card in character.ItemCardsList">
                <input type="checkbox" ng-checked="card.Value" ng-click="updateList(character.ItemCardsList, card.Key)" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Ally {{ character.AllyCards }}
            <span ng-repeat="card in character.AllyCardsList">
                <input type="checkbox" ng-checked="card.Value" ng-click="updateList(character.AllyCardsList, card.Key)" /> +{{ card.Key }}
            </span>
        </div>
        <div>
            Blessing {{ character.BlessingCards }}
            <span ng-repeat="card in character.BlessingCardsList">
                <input type="checkbox" ng-checked="card.Value" ng-click="updateList(character.BlessingCardsList, card.Key)" /> +{{ card.Key }}
            </span>
        </div>
    </fieldset>
    <fieldset>
        <legend>Available Weapon Cards</legend>
        <select ng-model="SelectedWeaponCard" ng-options="card as card.Name group by card.Deck.Name for card in character.AvailableCards.WeaponCards"></select><input type="button" ng-click="addWeaponCard()" value="Add" />
        <div ng-repeat="card in character.SelectedCards.WeaponCards track by $index">
            {{ card.Name }} <input type="button" ng-click="removeWeaponCard($index)" value="Remove" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Available Spell Cards</legend>
        <select ng-model="SelectedSpellCard" ng-options="card as card.Name group by card.Deck.Name for card in character.AvailableCards.SpellCards"></select><input type="button" ng-click="addSpellCard()" value="Add" />
        <div ng-repeat="card in character.SelectedCards.SpellCards track by $index">
            {{ card.Name }} <input type="button" ng-click="removeSpellCard($index)" value="Remove" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Available Armor Cards</legend>
        <select ng-model="SelectedArmorCard" ng-options="card as card.Name group by card.Deck.Name for card in character.AvailableCards.ArmorCards"></select><input type="button" ng-click="addArmorCard()" value="Add" />
        <div ng-repeat="card in character.SelectedCards.ArmorCards track by $index">
            {{ card.Name }} <input type="button" ng-click="removeArmorCard($index)" value="Remove" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Available Item Cards</legend>
        <select ng-model="SelectedItemCard" ng-options="card as card.Name group by card.Deck.Name for card in character.AvailableCards.ItemCards"></select><input type="button" ng-click="addItemCard()" value="Add" />
        <div ng-repeat="card in character.SelectedCards.ItemCards track by $index">
            {{ card.Name }} <input type="button" ng-click="removeItemCard($index)" value="Remove" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Available Ally Cards</legend>
        <select ng-model="SelectedAllyCard" ng-options="card as card.Name group by card.Deck.Name for card in character.AvailableCards.AllyCards"></select><input type="button" ng-click="addAllyCard()" value="Add" />
        <div ng-repeat="card in character.SelectedCards.AllyCards track by $index">
            {{ card.Name }} <input type="button" ng-click="removeAllyCard($index)" value="Remove" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Available Blessing Cards</legend>
        <select ng-model="SelectedBlessingCard" ng-options="card as card.Name group by card.Deck.Name for card in character.AvailableCards.BlessingCards"></select><input type="button" ng-click="addBlessingCard()" value="Add" />
        <div ng-repeat="card in character.SelectedCards.BlessingCards track by $index">
            {{ card.Name }} <input type="button" ng-click="removeBlessingCard($index)" value="Remove" />
        </div>
    </fieldset>
    <a href="#/{{ user.Id }}/party/{{ party.Id }}/character/{{ character.Id }}">View</a> <a href="#/{{ user.Id }}/party/{{ party.Id }}">Show party</a>
</div>
