<div ng-controller="characterController">
    <h1>{{ character.Name }}</h1>
    <fieldset>
        <legend>Skills</legend>
        <div ng-repeat="skill in character.Skills">
            {{ skill.Name }} d{{ skill.Dice }}{{ skill.SelectedAddons > 0 ? ' + ' + skill.SelectedAddons : '' }}
            <div ng-repeat="subskill in skill.SubSkills">
                <span style="padding-left: 30px;">{{ subskill.Name }} d{{ skill.Dice }} + {{ skill.SelectedAddons + subskill.Adjustment }}</</span>
            </div>
            <hr />
        </div>
    </fieldset>
    <fieldset>
        <legend>Powers</legend>
        <div>Hand size {{ character.HandSize }}</div><hr />
        <div ng-if="character.LightArmors > 1 || character.HeavyArmors > 1 || character.Weapons > 1">
            Proficient with<br />
            <div ng-if="character.LightArmors > 1">Light Armors</div>
            <div ng-if="character.HeavyArmors > 1">Heavy Armors</div>
            <div ng-if="character.Weapons > 1">Weapons</div>
            <hr />
        </div>
        <div ng-repeat="power in character.Powers">
            {{ power.PowersListText }}
            <span ng-repeat="p in power.PowersList">
                <input type="checkbox" ng-checked="p.Value" disabled="disabled" /> {{ p.Key }}
            </span>
            <hr />
        </div>
    </fieldset>
    <fieldset>
        <legend>Deck (Favorit: {{ character.FavoredCardType }})</legend>
        <div ng-if="character.SelectedCards.DeckWeapons.length > 0">
            Weapon ({{ character.SelectedWeaponCards > character.WeaponCards ? character.SelectedWeaponCards : character.WeaponCards }})
            <div ng-repeat="card in character.SelectedCards.DeckWeapons">
                <span style="padding-left: 30px;">{{ card.Count }}x {{ card.Card.Name }}</span>
            </div>
        </div>
        <div ng-if="character.SelectedCards.DeckSpells.length > 0">
            Spell ({{ character.SelectedSpellCards > character.SpellCards ? character.SelectedSpellCards : character.SpellCards }})
            <div ng-repeat="card in character.SelectedCards.DeckSpells">
                <span style="padding-left: 30px;">{{ card.Count }}x {{ card.Card.Name }}</span>
            </div>
        </div>
        <div ng-if="character.SelectedCards.DeckArmors.length > 0">
            Armor ({{ character.SelectedArmorCards > character.ArmorCards ? character.SelectedArmorCards : character.ArmorCards }})
            <div ng-repeat="card in character.SelectedCards.DeckArmors">
                <span style="padding-left: 30px;">{{ card.Count }}x {{ card.Card.Name }}</span>
            </div>
        </div>
        <div ng-if="character.SelectedCards.DeckItems.length > 0">
            Item ({{ character.SelectedItemCards > character.ItemCards ? character.SelectedItemCards : character.ItemCards }})
            <div ng-repeat="card in character.SelectedCards.DeckItems">
                <span style="padding-left: 30px;">{{ card.Count }}x {{ card.Card.Name }}</span>
            </div>
        </div>
        <div ng-if="character.SelectedCards.DeckAllies.length > 0">
            Ally ({{ character.SelectedAllyCards > character.AllyCards ? character.SelectedAllyCards : character.AllyCards }})
            <div ng-repeat="card in character.SelectedCards.DeckAllies">
                <span style="padding-left: 30px;">{{ card.Count }}x {{ card.Card.Name }}</span>
            </div>
        </div>
        <div ng-if="character.SelectedCards.DeckBlessings.length > 0">
            Blessing ({{ character.SelectedBlessingCards > character.BlessingCards ? character.SelectedBlessingCards : character.BlessingCards }})
            <div ng-repeat="card in character.SelectedCards.DeckBlessings">
                <span style="padding-left: 30px;">{{ card.Count }}x {{ card.Card.Name }}</span>
            </div>
        </div>
    </fieldset>
    <a href="#/{{ user.Id }}/party/{{ party.Id }}/character/{{ character.Id }}/edit">Edit</a> <a href="#/{{ user.Id }}/party/{{ party.Id }}">Show party</a>

</div>
